node_modules/
storage/uploads/*
storage/converted/*
!storage/uploads/.gitkeep
!storage/converted/.gitkeep
storage/data/*.json
storage/data/sessions/*
!storage/data/sessions/.gitkeep
.env
npm-debug.log*
